

html, body {
    height: 100%;
    width: 100%;
    font-family: "arial";
    background-color: #00c2db;
    
  }
  
  h1 {
    color:#e4f00a;
    text-align: center;
  }
  h4 {
    color:#ca0af0;
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  .co
  
  
  .container {
    position: relative;
    width: 50%;
    place-items: center;
    text-align: center;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 600px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  
  
  